extends layout

block content
    .section
        h2 Our Achievements!!!
        h3 CS:GO
        p.
        | We are Clan Rank Global Legendary Elite Master II. We only play legit (no hack client[非法的]！！)<br>
        | Here is CS:GO 简单的 Compilation!
        iframe(src="https://www.youtube.com/embed/HS1dNGIjPZ4", frameborder="0", width="100%", height="500vh") 
        h3 AMONG US 
        p. 
        | Illegal Impostor Game (200 Kills)<br>
        | Impostor every game 骇客客户端
        //Da kommt dann das neue video rein
        iframe(src="https://www.youtube.com/embed/HS1dNGIjPZ4", frameborder="0", width="100%", height="500vh") 
        h3 Chika Fujiwara 博士论文
        p ↓ Download Free Chika Fujiwara 博士论文 for Free ↓
        img(src="/images/download/download.gif")
        //wie geht ein download????
        
    