extends layout

block content
  .section
    p Welcome to official site of 藤原千花 GAMING GROUP 正式!!!
    h2 Who we are?
    p. 
    | Good ask we are gaming group from china and like Fujiwara Chika!<br>
    | You can read about us more on <a href="/about">page</a>
    h2 What games?
    p not many at moment but will more 
    ul
      li CS:GO
      li Among Us
    h2 How join?
    p.
    | Yes can! Only need meet condition: like Chika :D<br>
    | Can join <a href="/join">here</a>