extends layout

block content
    .section
        h2 Join Group
        p You can very easily! We are on Steam 社区. Click <a href="https://steamcommunity.com/groups/fujiwarachikagaming">here</a> for join.
        p You can join Discord 服务器 for Free too <a href="https://discord.gg/b7JDNQJt6X">here</a>!
        h2 What offer
        p
            | Our group offer friendly and 和蔼 community.<br>
            | Aim to improve to become best!<br>
            | When join we support!