doctype html
html
  head
    title 千花 | #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .main
      .section
        span.navigator <a href="/">Home</a> - <a href="/join">Join</a> - <a href="/about">About</a>
        h1 藤原 千花 Gaming
        .banner-img
      block content
      script(src="/javascripts/frameSize.js")
