doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .main
      .section
        h1 藤原 千花 Gaming
        .banner-img
      block content
      script(src="/javascripts/frameSize.js")
