@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --pink: #eea5b1;
  --gray: #302432;
}

body {
  margin: 0;
  padding: 2em;

  font: 1.2em 'Quicksand', sans-serif;
  color: var(--gray);
}

a {
  color: var(--pink);
  text-decoration: none;
}

.main {
  transition: .5s;
  max-width: 900px;
  margin: auto;
}

.section {
  border: 2px dashed  #eeeeee;
  margin-bottom: 16px;
  padding: 16px;
}

.banner-img {
  width: 100%;
  padding-bottom: 25%;

  background-image: url("/images/chika1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
}

.yt-video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}